@inherits LayoutComponentBase

<PageTitle>csun-marketplace</PageTitle>

<div class="page">
    @*
        <div class="sidebar">
        <NavMenu />
        </div>
    *@

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudMainContent>
            <MudPaper Height="850" Width="500px">
                @Body
            </MudPaper>
        </MudMainContent>
    </MudLayout>

</div>

<style>

    /*
        Mud Main Content has this class behind the scenes, I grabbed it to style it
    */

    .mud-main-content {
        padding-top: 30px !important;
        margin-top: 0px;
    }
</style>