@inherits LayoutComponentBase

<PageTitle>csun-marketplace</PageTitle>

<RedirectToLogin />
<div class="page">
    <MudDialogProvider FullWidth="true" CloseOnEscapeKey="true" Position="DialogPosition.Center" />
    <MudSnackbarProvider />

    <MudLayout>
        <MudMainContent Class="main-div">
            <MudPaper >
                <div class="appbar-spacer"/>
                @Body
            </MudPaper>
        </MudMainContent>
    </MudLayout>

</div>

<style>

    /*
        Mud Main Content has this class behind the scenes, I grabbed it to style it
    */

    .mud-main-content {
        padding-top: 0px !important;
    }
</style>