@inherits LayoutComponentBase

<PageTitle>csun-marketplace</PageTitle>

<RedirectToLogin />
<div class="page">
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudMainContent>
            <MudPaper >
                @Body
            </MudPaper>
        </MudMainContent>
    </MudLayout>

</div>

<style>

    /*
        Mud Main Content has this class behind the scenes, I grabbed it to style it
    */

    .mud-main-content {

    }
</style>