@using System

@inject IWebHostEnvironment env

<form @onsubmit="@OnSubmit">
    <InputFile OnChange="OnInputFileChange" />
    <MudButton ButtonType="ButtonType.Submit" Color="Color.Default" Variant="Variant.Filled" Size="Size.Small" >
        Upload   
    </MudButton>
</form>


@code {
    [Parameter]
    public string? filePath { get; set; }
    [Parameter]
    public bool imgSaved { get; set; }
    string Message = "No file(s) selected";
    IBrowserFile? selectedFile;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        Message = $"1 file selected";
        this.StateHasChanged();
    }

    private async void OnSubmit()
    {
        try
        {
            Stream stream = selectedFile.OpenReadStream();
            var path = $"{env.WebRootPath}\\images\\{selectedFile.Name}";
            filePath = "/images/" + selectedFile.Name;
            FileStream fs = File.Create(path);
            await stream.CopyToAsync(fs);
            stream.Close();
            fs.Close();

            Message = $"1 file uploaded on server";
            imgSaved = true;
            this.StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
            // Write Error message to user here, user has uploaded an image that is too large
        }

    }
}


