@inject NavigationManager _navMan

<MudDialog>
    <TitleContent>
         <MudText Color="Color.Primary">
            <h4>
                Welcome to CSUN Marketplace!
            </h4>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText Color="Color.Secondary">
            Head over to your CSUN Marketplace profile to tell us more about yourself.
        </MudText>

        <div class="spacer"/>
        
    
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="SkipUserCreation" Variant="Variant.Filled">Maybe Later</MudButton>
        <MudButton Color="Color.Primary" OnClick="CreateUserInformation" Variant="Variant.Filled">Take me there!</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    public void SkipUserCreation()
    {
        MudDialog.Cancel();
    }

    public void CreateUserInformation()
    {
        _navMan.NavigateTo("profile");
        MudDialog.Close(DialogResult.Ok(true));
    }
}