@page "/product-form"
@using csun_marketplace.data;
@using csun_marketplace.services;

@inject ICSUNMarketplaceService _csunMarketplaceService

<h3>Product Form</h3>

<div class="page">
    <div>
        @if(success > -1)
        {
            <h1>uwu wats this? DB success?</h1>
        } else if (success > - 2)
        {
            <h1>uwu wats this? DB failed?</h1>
        }
        <MudTextField T="string" @bind-Value=p.Title/>
        <MudTextField T="string" @bind-Value=p.ImageUrl/>
        <MudTextField T="string" @bind-Value=p.Description/>
        <MudTextField T="decimal?" @bind-Value=p.Price/>
        <MudTextField T="DateTime" @bind-Value=p.DateCreated/>
        <MudTextField T="string" @bind-Value=p.Category/>
        <MudTextField T="string" @bind-Value=p.Tags/>
        <MudButton Variant="Variant.Outlined" OnClick=UpdateProduct Color="Color.Secondary">Submit</MudButton>
    </div>
</div>

@code {
    public Product p = new Product();

    int success = -2;

    public void UpdateProduct()
    {
        p.OwnerId = 1;
        p.Available = true;

        success = _csunMarketplaceService.UpdateProduct(p);
        if(success != -1)
        {
            p.ProductId = success;
        } else
        {
            // Error pop up, DB error
        }
    }
}

<style>
    .page{
        width:50%;
        margin: 2em;
    }
</style>