@page "/"

<PageTitle>Index</PageTitle>
<MudTextField T="string" Label="What does Karim say?"/>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
