@page "/electronics"
@inject NavigationManager _navMan
@inject ICSUNMarketplaceService _csunMarketplaceService




<div>
    <MudText Color="Color.Primary" Class="page-header">
        <h2>
            Browse All Electronics
        </h2>
    </MudText>

    <div class="carousel-container">
        <MudCarousel TData="object" Style="height:300px" ShowArrows="false" ShowBullets="false">
            <MudCarouselItem>
                <div class="carousel-background-gradient">
                    <MudImage Class="carousel-background-image" Src="https://cdn.discordapp.com/attachments/754862598293553297/960264743115960330/chris-ried-bN5XdU-bap4-unsplash.png" />
                    <div class="carousel-content">
                        <MudText Class="carousel-overlayed-text">
                            <h1>
                                Browse CSUN Marketplace Electronics
                            </h1>
                        </MudText>
                    </div>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </div>
    <div class="feed-container">
        <div class="feed-content">
            <div class="products-container">
                @if (electronicsToRender != null)
                {
                    @foreach (Product p in electronicsToRender)
                    {
                        <MudPaper class="product-tile" Elevation="7" @onclick=@(()=>ViewProduct(p.ProductId))>
                            <div>
                                <MudImage ObjectPosition="ObjectPosition.Center" Src="@p.ImageUrl" Height="310" Width="310" />
                            </div>
                            <div class="product-tile-header-container">
                                <MudText Class="product-tile-header">
                                    @p.Title
                                </MudText>
                            </div>
                            <div>
                                <MudText Class="product-tile-price">
                                    $@p.Price
                                </MudText>
                            </div>
                            <MudTextField Value="p.Description" ReadOnly="true" Lines="4" Variant="Variant.Outlined" DisableUnderLine="true" Margin="Margin.Dense" />
                        </MudPaper>
                    }
                }
            </div>
        </div>

        <div class="pagination-container">
            <MudPagination Count="@maxNumberOfPages" Color="Color.Primary" SelectedChanged="@((int newPage)=>UpdateProductsOnPage(newPage))" Size="Size.Large" />
        </div>

    </div>
</div>

@code {
    List<Product> electronicsList = new List<Product>();
    List<Product> electronicsToRender = new List<Product>();

    public int itemsPerPage = 6;
    public int maxNumberOfPages = 1;
    public int pageIndex = 1;

    public void ViewProduct(int productId)
    {
        _navMan.NavigateTo("/view-listing/" + productId);
    }

    protected override async Task OnInitializedAsync()
    {
        electronicsList = _csunMarketplaceService.GetElectronics();

        maxNumberOfPages = electronicsList.Count() / itemsPerPage + 1;

        electronicsToRender = new List<Product>();
        for (int i = ((pageIndex - 1) * itemsPerPage); i < itemsPerPage * pageIndex && i < electronicsList.Count(); i++)
        {
            electronicsToRender.Add(electronicsList.ElementAt(i));
        }
    }

    public void UpdateProductsOnPage(int newPage)
    {
        pageIndex = newPage;
        electronicsToRender.Clear();
        electronicsToRender = new List<Product>();

        for (int i = ((pageIndex - 1) * itemsPerPage); i < itemsPerPage * pageIndex && i < electronicsList.Count(); i++)
        {
            electronicsToRender.Add(electronicsList.ElementAt(i));
        }
        StateHasChanged();
    }
}

<style>

</style>