@page "/billing"
@using System.Globalization
@using csun_marketplace.data;
@using csun_marketplace.services;
@using System;
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@inject ICSUNMarketplaceService _csunMarketplaceService
@inject IWebHostEnvironment env
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider _authenticationStateProvider

<div class="page-container">
    <div class="page-content">

        <div class="page-header-container">
            <MudText Class="form-header" Color="Color.Default">
                <h1>
                    Billing
                </h1>
                <h6>
                    Billing Information
                </h6>
            </MudText>
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="First Name" T="string" Variant="Variant.Filled" />
            <MudTextField Class="elem-half" Label="Last Name" T="string" Variant="Variant.Filled" />
        </div>

        <div class="form-row">
            <MudTextField Label="Billing Address" T="string" Variant="Variant.Filled" />
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="City" T="string" Variant="Variant.Filled" />
            <MudTextField Class="elem-half" Label="State" T="string" Variant="Variant.Filled" />
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="Zip" T="string" Variant="Variant.Filled" />
            <MudTextField Class="elem-half" Label="Country" T="string" Variant="Variant.Filled" Text="United States" ReadOnly="true" />
        </div>

        <div class="form-row">
            <MudTextField Label="Card number" T="string" Variant="Variant.Filled" />
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="Expiration date" T="string" Variant="Variant.Filled" />
            <MudTextField Class="elem-half" Label="Security code" T="string" Variant="Variant.Filled" />
        </div>
        

    </div>
</div>



@code {

}

<style>
    .upload-image-label {
        margin-left: 1em;
    }

    .img-input-div {
        margin-top: 1em;
    }

    .grid-two {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .elem-half {
        max-width: 48%;
    }
</style>
